<h1 style={
    "margin-bottom": "10px"
}>Marko Playground</h1>
<article style={
    "margin-top": "0"
}>
    <details>
        <summary>Colors</summary>
        <p>
            <colors/>
        </p>
    </details>
    <details>
        <summary>Counter</summary>
        <p>
            <counter/>
        </p>
    </details>
</article>
